body {
      background-color: palegoldenrod;
      font-family: Verdana, Geneva, sans-serif;
      margin-left: 15%;
      margin-right: 25%;
      margin-top: 80px;
      margin-bottom: 80px;
     }

a:link    {
            color: dimgray;
          }

a:visited {
            color: gray;
          }
